<h1>Blackjack!</h1>

<h4>Welcome <%= session[:player_name] %></h4>

Dealer's cards are:
<ul>
<% session[:dealer_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>

Your cards are:
<ul>
<% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>

<p>Your total is <%= calculate_total(session[:player_cards]) %></p>

<% if @show_hit_or_stay_buttons %>
  <p>What would you like to do?</p>
  <form action="/game/player/hit" method="post">
    <input type="submit" class="btn" value="Hit">
  </form>

  <form action="/game/player/stay" method="post">
    <input type="submit" class="btn" value="Stay">
  </form>
<% end %>
