<h1>Blackjack!</h1>

<h4>Welcome <%= session[:player_name] %></h4>

Dealer's cards are:
<ul>
<% session[:dealer_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>

Your cards are:
<ul>
<% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>

Your total is <%= calculate_total(session[:player_cards]) %>
